<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Input type submit</title>
</head>
<body>
<main>
    <div>
        <h3>Список должников</h3>
        
                <ul>
                    {{range .}}
                        <li>
                        <p>Читатель: {{.CustomerName}} | Книга: {{.BookName}}</p>
                        </li>
                    {{end}}
                </ul>
    </div>
    <div>
        <a href="/">На главную</a>
    </div> 
</main>
</body>
</html>