<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Input type submit</title>
</head>
<body>
<main>
    <div>
        <h3>Список читателей</h3>
        
                <ul>
                    {{range .}}
                        <li>
                        <p>Имя: {{.Name}} | Адрес: {{.Address}} | Телефон: {{.Phone}} <a href="/customers/update?id={{.ID}}">|Редактировать|</a><a href="/customers/delete?id={{.ID}}">|Удалить|</a></p>
                        </li>
                    {{end}}
                </ul>
    </div>   
    <div>
        <a href="/customers/create">Создать учетную запись</a>
    </div>
    <div>
        <a href="/">На главную</a>
    </div> 
</main>
</body>
</html>