<!doctype html>
<html lang="en">
<body>
    <h1>Создание учетной записи читателя</h1>
    <form method="post">
        <input type="text" name="name" placeholder="Имя" value={{.Name}}><br>
        <input type="text" name="address" placeholder="Адрес" value={{.Address}}><br>
        <input type="text" name="phone" placeholder="Номер телефона" value={{.Phone}}><br><br>
        <input type="submit" value="Сохранить">
    </form>
</body>
</html>