<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Input type submit</title>
</head>
<body>
<main>
    <div>
        <a href="/reports/rarely">Непопулярные книги</a></br></br>
    </div>    
    <div>
        <a href="/reports/rate">Рейтинг книг по популярности</a></br></br>
    </div>
    <div>
        <a href="/reports/credit">Должники</a></br></br>
    </div>    
</main>
</body>
</html>