<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Input type submit</title>
</head>
<body>
<main>
    <div>
        <a href="/customers">База читателей</a></br></br>
        <a href="/books">База книг</a></br></br>
        <a href="/reports">Отчеты</a>
    </div>    
</main>
</body>
</html>