<!doctype html>
<html lang="en">
<body>
    <h1>Создание учетной записи читателя</h1>
    <form method="post">
        <input type="text" name="name" placeholder="Имя"><br>
        <input type="text" name="author" placeholder="Автор"><br>
        <input type="text" name="year" placeholder="Год"><br><br>
        <input type="text" name="publisher" placeholder="Издательство"><br><br>
        <input type="text" name="count_papers" placeholder="Кол-во страниц"><br><br>
        <input type="text" name="total_balance" placeholder="Количество экземпляров на учете"><br><br>
        <input type="submit" value="Сохранить">
    </form>
</body>
</html>